<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    @if (ViewBag.choice != null)//skip if first time loading search page
                    {
                        @if (ViewBag.choice == column.Key)
                        {
                            <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked/>
                        }
                        else
                        {
                            <input type="radio" name="searchType" id="@column.Key" value="@column.Key"/>
                        }
                    }
                    else if (column.Key == "all")//have "All" checked by default
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked />
                    }
                    else
                    {
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                    }
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    @if (ViewBag.jobs != null)
    {
        @foreach (Job job in ViewBag.jobs)
        {
            <table class="job-listing">
                <tr>
                    <th>ID</th>
                    <td>@job.Id</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>@job.Name</td>
                </tr>
                <tr>
                    <th>Employer</th>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value="@job.Employer">@job.Employer</a></td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value="@job.Location">@job.Location</a></td>
                </tr>
                <tr>
                    <th>Position Type</th>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value="@job.PositionType">@job.PositionType</a></td>
                </tr>
                <tr>
                    <th>Skill</th>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value="@job.CoreCompetency">@job.CoreCompetency</a></td>
                </tr>
            </table>
        }
    }


</div>